.card {
  margin: 8px 0;
  height: 240px;
  overflow-y: visible;
}

.grid {
  width: 20% !important;
  text-align: center;
}

.add {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
